[Desktop Entry]
Type=Application
Version=1.0
Name=Termilyon
Comment=GTK4+VTE tabbed terminal emulator
Exec=termilyon %U
Icon=termilyon
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=io.termilyon.app
